<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login - BeatBuddy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <!-- Adicionando Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <style>
        /* Estilos específicos para a página de login */
        .login-card {
            background-color: rgba(255, 255, 255, 0.1);
            border: none;
            border-radius: 15px;
            padding: 2rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        
        .btn-google {
            background-color: #fff;
            color: #444;
            border: 1px solid #ddd;
            transition: background-color 0.3s, color 0.3s, border-color 0.3s;
        }

        .btn-google:hover {
            background-color: #f7f7f7;
            color: #000;
            border-color: #ccc;
        }

        .btn-google .bi {
            font-size: 1.5rem;
            margin-right: 0.5rem;
        }
    </style>
</head>
<body class="bg-dark">
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="card login-card text-center">
            <h1 class="mb-3 display-3 text-light fw-bold">BeatBuddy</h1>
            <p class="mb-4 fs-3 text-light">Tomorrowland Brasil 2024</p>
            <a href="/auth/google" class="btn btn-google btn-lg d-flex align-items-center justify-content-center button-login">
                <i class="bi bi-google"></i>
                Login com Google
            </a>
        </div>
    </div>
</body>
</html>